body {
      font-family: Arial;
      padding: 20px;
    }
    input {
      padding: 6px;
      margin: 5px 0;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    table, th, td {
      border: 1px solid #444;
    }
    th, td {
      padding: 10px;
      text-align: center;
    }
    button {
      padding: 6px 12px;
      cursor: pointer;
    }